:root {
  --white-color: #FFFFFF; /**/
  --blue100-color: #ebf2f8;
  --blue200-color: #D4E0EB; /**/
  --blue300-color: #acc4e2; /**/
  --blue400-color: #a7b7cd; /**/
  --blue500-color: #8da1be; /**/
  --shadow-color: #acacac; /**/
  --red100-color: #ffb0b0;
  --red200-color: #ff3636;
}